@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  background-image: url(./assets/asael-pena-unsplash-navyships.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}

h1 {
  font-family: "Black Ops One";
  font-size: 6em;
  background: -webkit-linear-gradient(#909090, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#game-board {
  display: flex;
  height: 940px;
  width: 940px;
  margin: 40px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  background-color: rgb(168 210 255 / 25%);
  display: inline-block;
  border: 2px solid #ffffff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.square:hover {
  background-color: blue;
  border: 5px solid #bbff00;
  width: 88px;
  height: 88px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-right-radius: 42px;
  border-bottom-left-radius: 42px;
}

.displayContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topDisplayBox {
  width: 700px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.309);
  border-top: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  border-radius: 20px;
  margin: 0;
}

.topDisplayBox p {
  font-family: "Black Ops One";
  font-size: 1.6rem;
  color: #000000;
  padding-top: 5px;
  text-align: center;
}

.playerBoxes {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-evenly;
}

.playa1 {
  width: 250px;
  height: 120px;
  border-left: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  background-color: #b71515;
}

.playa1 p {
  font-family: "Black Ops One";
  font-size: 1.6em;
  text-align: center;
}

.playa2 {
  width: 250px;
  height: 120px;
  border-right: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  background-color: #0E0EC8;
}

.playa2 p {
  font-family: "Black Ops One";
  font-size: 1.6em;
  text-align: center;
}

/* .ship {
  background-color: #d2530f;
} */

/* .water { 
  background-color: blue;
} */

.hit {
  border: 2px solid red;
  background: radial-gradient(#f5ee19, #ff1900);
  background-repeat: no-repeat;
  pointer-events: none;
}

.miss {
  border: 2px solid blue;
  background-image: url(./assets/david-clode-fish.jpg);
  pointer-events: none;
}
