@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");


body {
/*   background-image: url(./assets/saffu-ocean-sunset-small.jpg); */
  background-image: url(./assets/asael-pena-unsplash-navyships.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}

/* .h1Shadow {
  text-shadow: 1px 1px 2px black;
} */

h1 {
/*   text-shadow: 1px 1px 1px black; */
  font-family: "Black Ops One";
  font-size: 6em;
/*   background: -webkit-linear-gradient(#fff326, #ac1f1b); */
  background: -webkit-linear-gradient(#909090, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
/*   color: #e0e0ff; */
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#game-board {
    display: flex;
    height: 940px;
    width: 940px;
    margin: 40px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  background-color: rgb(168 210 255 / 25%);
  display: inline-block;
  border: 2px solid #ffffff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.square:hover {
  background-color: blue;
}

.displayContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topDisplayBox {
  width: 700px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.309);
  border-top: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  border-radius: 20px;
  margin: 0;
}

.topDisplayBox p {
  font-family: "Black Ops One";
  font-size: 1.6rem;
  color: #000000;
  padding-top: 5px;
  text-align: center;
}

.playerBoxes {
  display: flex;
  flex-direction: row;
  width: 320px;
/*   margin: 0 0 40px 0; */
  justify-content: space-evenly;
}

.playa1 {
  width: 250px;
  height: 120px;
  border-left: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  background-color: #b71515;
/*   background-color: #c3383863; */
}

.playa1 p {
  font-family: "Black Ops One";
  font-size: 1.6em;
  text-align: center;
}

.playa2 {
  width: 250px;
  height: 120px;
  border-right: 5px solid #0000006b;
  border-bottom: 5px solid #0000006b;
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  background-color: #0E0EC8;
/*   background-color: #c3383863; */
}

.playa2 p {
  font-family: "Black Ops One";
  font-size: 1.6em;
  text-align: center;
}

.ship {
  background-color: #d2530f;
}

/* .water { 
  background-color: blue;
} */

.hit {
/*   background: #f12711; */
/*   background: -webkit-linear-gradient(to top, #f5af19, #f12711);
  background: linear-gradient(to top, #f5af19, #f12711); */
  background: radial-gradient(#f5ee19, #ff1900);
  background-repeat: no-repeat;

/*   background-color: red; */
  pointer-events: none;
}

.miss {
  background-image: url(./assets/david-clode-fish.jpg);
/*   background-color: blue; */
  pointer-events: none;
}
